<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.agent.database.dao.SensorDAO">

    <insert id="insertData" parameterType="org.agent.database.dto.SensorDTO">
        INSERT INTO SENSOR_DATA (location, temperature, timestamp, humidity)
        VALUES (#{location}, #{temperature}, #{timestamp}, #{humidity})
    </insert>

    <select id="getAll" resultType="map">
        SELECT * FROM SENSOR_DATA LIMIT 100
    </select>

    <select id="getAvgData" parameterType="map" resultType="map">
        SELECT
            COALESCE(AVG(temperature), 0) AS temperature,
            COALESCE(AVG(humidity), 0)    AS humidity
        FROM SENSOR_DATA
        WHERE location = #{location}
          AND timestamp >= #{start_time}
    </select>
    <insert id="insertLog">
        INSERT INTO service_log
        (log_level, diff_score,message,source)
        VALUES
        (#{logLevel},#{diffScore},#{message},#{source})
    </insert>
    <select id="getSensorTemperature" >
        SELECT * FROM sensor_criteria
        where  sensor_type = 'Temperature'
        ORDER BY updated_at DESC
        LIMIT 1
    </select>
    <select id="getSensorHumidity" >
        SELECT * FROM sensor_criteria
        where  sensor_type = 'Humidity'
        ORDER BY updated_at DESC
        LIMIT 1
    </select>

    <update id="updateMinTemperature">
        UPDATE sensor_criteria
        SET min_temperature = #{temperature},
            updated_by = 'dashboard'
        WHERE sensor_type = 'Temperature'
          AND location = #{location}
    </update>
    <update id="updateMaxTemperature" >
        UPDATE sensor_criteria
        SET max_temperature = #{temperature},
            updated_by ='dashboard'
        where  sensor_type = 'Temperature'
          AND location = #{location}

    </update>
    <update id="updateMinHumidity" >
        UPDATE sensor_criteria
        SET min_humidity = #{humidity},
            updated_by ='dashboard'
        where  sensor_type = 'Humidity'
          AND location = #{location}
    </update>
    <update id="updateMaxHumidity" >
        UPDATE sensor_criteria
        SET max_humidity = #{humidity},
            updated_by ='dashboard'
        where  sensor_type = 'Humidity'
          AND location = #{location}
    </update>
</mapper>